:root {
 
  --primary-color: #FF0000;

  --secondary-color: #F00FF00;
  
}



  body {
      margin: 0;
    background-color: #FFFFFF;
    color: #434455;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}
  
  
      

 main {
    margin-top: 80px;
    margin-bottom: 80px;
    padding: 0 15px;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.5;
    color: #434455;
    background-color: #FFFFFF;
    }