:root {
 --main-font-family: "Roboto", sans-serif;
  --secondary-font-family: "Raleway", sans-serif;
  --primary-text-text-color-theme-dark: #FFFFFF;
  --primary-text-text-color-theme-light: #303030;
 --secondary-text-color-theme-dark: #9ba4bd;
  --secondary-text-color-theme-light: #555555;
  --accent-color:#fff6c00
   
  } 
  .list {
    list-style: none;
  }
    .link {
      list-style: none;
      text-decoration: none;
    }
  /* header */
  .address {
    font-style: normal;
   }
.header-menu-item
  {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    color: #2e2f42;
    letter-spacing: 0.02em;
    text-decoration: none;
    list-style: none;
    text-align: left;
  text-decoration: none;
    text-align: left;
  }
  .menu-item
  {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    color: #2e2f42;
    letter-spacing: 0.02em;}

     /* logo */
     .nav {
       font-family: "Raleway", sans-serif;
       font-size: 18px;
       font-weight: 800;
       line-height: 1.17;
       color: #4d5ae5;
       letter-spacing: 0.03em;
       text-align: left;
       text-decoration: none;
       text-transform: uppercase;
       list-style: none;
     }
     nav {
       list-style: none;
     }
     /* nav-menu */
     .nav-menu {
       font-family: "Raleway", sans-serif;
       font-size: 16px;
       font-weight: 500;
       line-height: 1.5;
       letter-spacing: 0.02em;
        text-decoration: none;
        text-transform: uppercase;
       color:#2e2f42 ; 
      }
      .first-menu-item {
        font-family: "Raleway", sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        color: #4d5ae5;
        letter-spacing: 0.02em;
        text-align: left;
        text-decoration: none;
        text-transform: uppercase;
        list-style: none;
        text-decoration: none;
        color  : #2e2f42;
      }
     
     .nav-menu:hover {
       color: #404bbf;
     }
      .nav-menu:focus {
        color: #404bbf;
      }
    .logo {
      font-family: Raleway, sans-serif;
      font-size: 18px;
      font-weight: 800;
      line-height: 1.17;
      color: #4d5ae5;
      background-color: #FFFFFF;
      letter-spacing: 0.03em;
      text-align: left;
      text-transform: uppercase;
  
    }
    .logo:hover {
      color: #404bbf;
    }
    .logo:focus {
      color: #404bbf;
    }

     
    
   
    
      .second-upper-logo {
    font-size: 20px;
      font-weight: 500;
      line-height: 1.17;
      font-family: "Raleway", sans-serif;
      color: #2e2f42;
      list-style: none;
      text-decoration: none;
      text-align: center;
      letter-spacing: 0.03em;
      text-transform: uppercase;
    }               
    .second-upper-logo:hover {
      color: #404bbf;
    }
    .second-upper-logo:focus {
      color: #404bbf;
    }
     .header-menu-item {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    color: #2e2f42;
    letter-spacing: 0.02em;
    text-decoration: none;
    list-style: none;
    text-align: left;
  text-decoration: none;
}
.header-menu-item:hover {
  color: #404bbf;
}
.header-menu-item:focus {
  color: #404bbf;
}



/* main */
  .order-button{
    font-family: inherit;
    cursor: pointer;
    background-color:#4D5AE5 ;
font-weight: 500;
font-size: 16px;
letter-spacing:0.04em;
line-height: 1.5;
color: #FFFFFF;
line-height: 1.5;
  }
  .order-button:hover{
    background-color: #404bbf;
  }
  .order-button:focus{
    background-color: #404bbf;
  }
 /* title second section */
 .title-second-section {
   font-size: 20px;
   font-weight: 500;
   line-height: 1.2;
   color: #2e2f42;
   letter-spacing:0.02em;
   list-style: none;
 }
 .second-section-p {
   font-size: 16px;
   line-height: 1.5;
   color: #434455;
   letter-spacing: 0.02em;
 }

 .menu-portfolio {
   text-decoration: none;
   list-style: none;
 }

 .offers-menu-section {
   font-size: 20px;
   letter-spacing: 0.02;
   line-height: 1.2;
   font-weight: 500;
   text-decoration: none;
   list-style: none;
   text-transform: capitalize;
 }

 .contact-menu {
   text-decoration: none;
   list-style: none;
   text-transform: capitalize;
 }

 .menu-item {
   font-size: 16px;
   font-weight: 500;
   line-height: 1.5;
   color:#434455 ;
   letter-spacing: 0.02em;
   text-decoration: none;
   list-style: none;
   text-align: center;
 }
    .menu-item:active {
      color: #404bbf;
    }
  
    .menu-item:visited {
      color: #404bbf;
    }
  
    .menu-item:link {
      color: #404bbf;
    }
  
    .menu-item:hover {
      color: #404bbf;
    }
  
    .menu-item:focus {
      text-decoration: none;
    }
  
  /* our team */
  .team-list {
       list-style: none;
     }
  
     .role {
       font-size: 16px;
       line-height: 1.5;
       letter-spacing: 0.02em;
       color: #434455;
       background-color: #FFFFFF;
     }
  
     .name {
       font-size: 20px;
       line-height: 1.2;
       letter-spacing: 0.02em;
       font-weight: 500;
       color: #2e2f42;
       background-color: #FFFFFF;
       list-style: none;
       text-decoration: none;
       text-transform: capitalize;
       text-align: center;
     }
 .contact-menu
  {
    text-decoration: none;
    list-style: none;
    text-align: left;
   
  }
.first-menu-item {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  color: #2e2f42;
  letter-spacing: 0.02em;
  text-decoration: none;
  list-style: none;

}
.first-menu-item:hover  {
  color: #404bbf;
}
.first-menu-item:focus  {
  color: #404bbf;
}

.second-menu-item {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  color:#404bbf;
  letter-spacing: 0.02em;
  text-decoration: none;
  list-style: none;
}
.second-menu-item:hover  {
  color: #404bbf;
}
.second-menu-item:focus  {
  color: #404bbf;
}
.menu
{
  text-decoration: none;
  list-style: none;
}
 
.body{
    background-color: #FFFFFF;
    color: #434455;
    font-family: "Roboto" , sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;  
  }
  
    /* hero section */
    .second-menu-title {
      font-size: 56px;
      font-weight: 300;
      line-height: 1.07;
      letter-spacing: 0.02em;
      color:#FFFFFF;
      background-color:#2e2f42;
      list-style: none;
      text-decoration: none;
      text-transform: uppercase;
    }
/* hero=title */
   .hero-title{
      font-size: 56px;
      font-weight: 300;
      line-height: 1.07;
      letter-spacing: 0.02em;
     
    }
    
  /* main section */
    main {
      background-color:#FFFFFF; ;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.5;
    color: #434454
    
    
  } 
 /* footer */
   
/* bottom logo */
    .bottom-logo {
      font-family: "Raleway", sans-serif;
      font-size: 18px;
      font-weight: 800;
      line-height: 1.17;
      letter-spacing: 0.03em;
      color: #FFFFFF;
      background-color: #2e2f42;
      list-style: none;
      text-decoration: none;
      text-transform: uppercase;
      text-align: left;
     
      ;
    }
/* WEB */
    .bottom-logo {
      font-family: "Raleway", sans-serif;
      font-size: 18x;
      font-weight: 800;
     line-height: 1.17;
      color:#4d5ae5;
      list-style: none;
      text-decoration: none;
      text-align: left;
      letter-spacing: 0.03em;
      text-transform:uppercase ;


    }
    /*STUDIO */
    .second-bottom-logo
    {
      font-size: 20px;
      font-weight: 500;
      line-height: 1.17;
      font-family: "Raleway", sans-serif;
      color:#F4F4FD;
      background-color: #2e2f42;
      list-style: none;
      text-decoration: none;
      text-align:left;
      letter-spacing: 0.03em;
      text-transform:uppercase ;
    }
    
.promotion-slogan {
font-size: 16px;
line-height: 1.5;
color: #F4F4FD;

}
   .link:hover {
      color:#404bbf ;
      background-color: #2e2f42;
      list-style: none;
      text-decoration: none;
    }
    .button:hover
    {
      background-color: #404bbf ;
      color: #FFFFFF;
    }
    button:focus {
      background-color: #404BBF;
      color: #FFFFFF;
    }
    .menu-item {
      font-size: 16px;
      font-weight: 500;
      line-height: 1.5;
      color:#2e2f42;
      background-color: #FFFFFF;
      list-style: none;
      text-decoration: none;
      letter-spacing: 0.02em;
text-align: left;
    }

     /* team photos */
     .team-menu-section
      {
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        color:#2e2f42;
        background-color:#F4F4FD;
        list-style: none;
        text-decoration: none;
        text-transform: capitalize;
        text-align: center;
      }
    .team-menu {
      font-size: 36px;
      line-height: 1.11;
      letter-spacing: 0.02em;
      color:#2e2f42;
      background-color: #F4F4FD;
      list-style: none;
      text-decoration: none;
      text-transform: capitalize;
      text-align: center;

    }
    .team-menu-item {
      background-color: #FFFFFF;
      }
    .offer-samples {
      list-style: none;
      text-decoration: none;
      text-align: center;
    }
    /* third section */
    .title-third-section
    {
      font-size: 36px;
      line-height: 1.11;
      letter-spacing: 0.02em;
      color:#2e2f42;
      list-style: none;
      text-align: center;
      text-transform: capitalize;
    }
    .portfolio-address
    {
      font-style: normal;
      list-style: none;
    }
   
    .excellence-menu-item
    {
      font-size: 20px;
      font-weight: 500;
      line-height: 1.2;
      letter-spacing: 0.02em;
      color:#2e2f42;
      list-style: none;
      text-decoration: none;
      text-align: center;
    }

    /* portfolio */
    .button-portfolio
    {
      font-family: "Roboto", sans-serif ;
      letter-spacing: 0.04em;
      line-height: 1.5;
      font-weight: 500;
      font-size: 16px;
      background-color:#F4F4FD;
      color:#4d5ae5 ;
      list-style: none;
      text-decoration: none;
      text-align: center;
      cursor: pointer;
    }
         .button-portfolio:hover {
           background-color: #404bbf;
           color: #FFFFFF;
         }
    
         .button-portfolio:focus {
           background-color: #404bbf;
           color: #FFFFFF;
         }

    
