:root {
 --main-font-family: "Roboto", sans-serif;
  --secondary-font-family: "Raleway", sans-serif;
  --primary-text-text-color-theme-dark: #FFFFFF;
  --primary-text-text-color-theme-light: #303030;
 --secondary-text-color-theme-dark: #9ba4bd;
  --secondary-text-color-theme-light: #555555;
  --accent-color:#fff6c00
  } 
  .list{
    list-style: none;
  }

  .link{
    text-decoration: none;
  }

  .button{
    font-family: inherit;
    cursor: pointer;
  }
   /* logo */
    .nav {
      font-family: "Raleway", sans-serif;
      font-size: 18px;
      font-weight: 800;
      line-height: 1.17;
      color:#4d5ae5;
      letter-spacing: 0,03em;
      text-align: left;
      text-decoration: none;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      list-style: none;
     

    }
    .link {
    list-style: none;
    text-decoration: none;
  }
  /* our team */
  .team-menu {
    font-size: 36px;
    font-weight: 500;
    line-height: 1.11;
    color: #2e2f42;
    letter-spacing: 0,02em;
    text-decoration: none;
    list-style: none;
    text-transform: capitalize;
  }


    
    
.first-menu-item {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  color: #2e2f42;
  letter-spacing: 0,02em;
  text-decoration: none;
  list-style: none;

}
.first-menu-item:hover  {
  color: #404bbf;
}
.first-menu-item:focus  {
  color: #404bbf;
}

.second-menu-item {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  color:#404bbf;
  letter-spacing: 0,02em;
  text-decoration: none;
  list-style: none;
}
.second-menu-item:hover  {
  color: #404bbf;
}
.second-menu-item:focus  {
  color: #404bbf;
}



.logo {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    color:#4d5ae5;
    letter-spacing: 0,03em;
    text-align: left;
    text-decoration: none;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    list-style: none;
    text-decoration: none;
  }
  .logo:hover {
    color:  #4d5ae5;
    list-style: none;
    text-decoration: none;
  }

 .second-upper-logo
  {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.17;
    font-family: "Raleway", sans-serif;
    color: #2e2f42;
    list-style: none;
    text-decoration: none;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform:uppercase ;
  }
  
body{
    background-color: #FFFFFF;
    color: #434455;
    font-family: "Roboto" , sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;  
  }
  
    /* hero section */
    .second-menu-title {
      font-size: 56px;
      font-weight: 300;
      line-height: 1.07;
      letter-spacing: 0.02em;
      color:#FFFFFF;
      background-color:#2e2f42;
      list-style: none;
      text-decoration: none;
      text-transform: uppercase;
    }
/* hero=title */
   .hero-title{
      font-size: 56px;
      font-weight: 300;
      line-height: 1.07;
      letter-spacing: 0.02em;
     
    }
    
  /* main section */
    main {
      background-color:#FFFFFF; ;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.5;
    color: #434454
    
    
  } 

   
/* bottom logo */
    .bottom-logo {
      font-family: "Raleway", sans-serif;
      font-size: 18px;
      font-weight: 800;
      line-height: 1.17;
      letter-spacing: 0.03em;
      color: #FFFFFF;
      background-color: #2e2f42;
      list-style: none;
      text-decoration: none;
      text-transform: uppercase;
      text-align: left;
     
      ;
    }
/* WEB */
    .bottom-logo-link {
      font-family: "Raleway", sans-serif;
      font-size: 18x;
      font-weight: 800;
     line-height: 1.17;
      color:#4d5ae5;
      background-color: #F4F4FD;
      list-style: none;
      text-decoration: none;
      text-align: left;
      letter-spacing: 0.03em;
      text-transform:uppercase ;


    }
    /*STUDIO */
    .second-bottom-logo
    {
      font-size: 20px;
      font-weight: 500;
      line-height: 1.17;
      font-family: "Raleway", sans-serif;
      color:#F4F4FD;
      background-color: #2e2f42;
      list-style: none;
      text-decoration: none;
      text-align:left;
      letter-spacing: 0.03em;
      text-transform:uppercase ;
    }
    
.promotion-slogan {
font-size: 16px;
line-height: 1,5;
color: #434455;

}

  
  .link{
      font-size: 1.2rem;
      font-weight: 300;
      line-height: 1.5;
      color: #4d5ae5;
      background-color: #FFFFFF;
      list-style: none;
      text-decoration: none;
    }
   
    .link:hover {
      color: #404bbf ;
      background-color: #2e2f42;
      list-style: none;
      text-decoration: none;
    }
    .button:hover
    {
      background-color: #404bbf ;
      color: #FFFFFF;
    }
    button:focus {
      background-color: #404BBF;
      color: #FFFFFF;
    }
    .menu-item {
      font-size: 16px;
      font-weight: 500;
      line-height: 1.5;
      color:#2e2f42;
      background-color: #FFFFFF;
      list-style: none;
      text-decoration: none;
      letter-spacing: 0.02em;

    }
    .link:hover {
      color: #404bbf ;
      background-color: #FFFFFF;
      list-style: none;
      text-decoration: none;
    }
    link:focus {
      color: #404bbf ;
      background-color: #FFFFFF;
      list-style: none;
      text-decoration: none;
    }

    
    /* team photos */
    .team-menu {
      font-size: 36x;
      line-height: 1.11;
      letter-spacing: 0,02em;
      color:#2e2f42;
      background-color: #F4F4FD;
      list-style: none;
      text-decoration: none;
      text-transform: capitalize;
      text-align: center;

    }
    
    .list
    {
      list-style: none;
      
    }
    .role
    {
      font-size: 20px;
      line-height: 1.2;
      letter-spacing: 0,02em;
      color:#434455;
     background-color: #FFFFFF;
     }

     .name {
      font-size: 20px;
      line-height: 1.2;
      letter-spacing: 0,02em;
      font-weight: 500;
      color:#2e2f42;
      background-color: #FFFFFF;
      list-style: none;
      text-decoration: none;
      text-transform: capitalize;
      text-align: center;
      }
    

    
