:root {
 --main-font-family: "Roboto", sans-serif;
  --secondary-font-family: "Raleway", sans-serif;
  --primary-text-text-color-theme-dark: #FFFFFF;
  --primary-text-text-color-theme-light: #303030;
 --secondary-text-color-theme-dark: #9ba4bd;
  --secondary-text-color-theme-light: #555555;
  --accent-color:#fff6c00
  } 
  .list{
    list-style: none;
  }

  .link{
    text-decoration: none;
  }

  .button{
    font-family: inherit;
    cursor: pointer;
  }
   
    .nav {
      font-family: "Raleway", sans-serif;
      font-size: 18px;
      font-weight: 800;
      line-height: 1.17;
      color:#4d5ae5;
      letter-spacing: 0,03em;
      text-align: left;
      text-decoration: none;
      letter-spacing: 0.03em;
      text-transform: uppercase;
}


  
   button {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.5;
    color: #FFFFFF;
    background-color: #303030;
    border: 1px solid #303030;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

  }
  
body{
    background-color: #FFFFFF;
    color: #434455;
    font-family: "Roboto" , sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    list-style: none;
  
  
    }
  
    main {
    margin-top: 80px;
    margin-bottom: 80px;
    padding: 0 15px;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.5;
    color: #434455;
    background-color: #FFFFFF;
    list-style: none;
    }
    

    }
    span {
      font-size: 1.2rem;
      font-weight: 300;
      line-height: 1.5;
      color: #2e2f42;
      background-color: #FFFFFF;
      list-style: none;

    }
    .link {
      font-size: 1.2rem;
      font-weight: 300;
      line-height: 1.5;
      color: #4d5ae5;
      background-color: #FFFFFF;
      list-style: none;
      text-decoration: none;
    }